.bash_history
.cache
.config
.dbus
.gitconfig
.gnupg
.java
.lesshst
.local
.macromedia
.netbeans
.pki
.psql_history
.ssh
.xinitrc
bin/jhost
bin/jhttp
bin/jinit
bin/jsetup
bin/jssh
bin/jstore
Downloads/
hipchatlog.txt
jumpstarter/
libs
root-stack/
Wallpapers/
