.bash_history
.cache
.config
.dbus
.gdbinit
.gem
.gitconfig
.gnupg
.java
.lesshst
.local
.macromedia
.netbeans
.node-gyp/
.npm/
.pki
.psql_history
.ssh
.tmux-session
.xinitrc
bin/jhost
bin/jhttp
bin/jinit
bin/jsetup
bin/jssh
bin/jstore
ceph-etc/
config/
Downloads/
hipchatlog.txt
jumpstarter/
libs
tmp/
root-stack/
Wallpapers/
